#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
.header {
  background: #007bff !important;
}
.filter-search {
  margin: 20px 0;
}
.filter-search input{
  outline: none;
  padding: 10px;
}
