body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
.align-right {
  text-align: right;
}
h4 {
  line-height: 22px;
  margin-top: 20px;
}
.profile-pic img{
  border-radius: 50%;
}

/*******************************/
/***** Search Filter ***********/
/*******************************/
.filter-search {
  margin: 20px 0;
}
.filter-search input{
  outline: none;
  padding: 10px;
}

/*******************************/
/***** Pagination **************/
/*******************************/
.pagination li{
  outline: none;
}
.page-link {
  color: #212529;
}
.pagination .active button{
  background-color: #007bff !important;
  border-color: #007bff !important;
  color: #fff !important;
}

/*******************************/
/***** Buttons *****************/
/*******************************/
.view-btn, .view-btn:focus {
  background-color: #fff;
  border-color: #007bff;
  color: #212529;
}
.view-btn:hover {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}
.save-btn {
  width: 100%;
  text-align: center;
}

/*******************************/
/***** Table ******************/
/*******************************/

table th {
  cursor: pointer;
}
table th:hover {
  background-color: #eee;
}
