#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
.header {
  background: #007bff !important;
}
.filter-search {
  margin: 20px 0;
}
.filter-search input{
  outline: none;
  padding: 10px;
}
.pagination li{
  outline: none;
}
.pagination .active button{
  background-color: #007bff !important;
  border-color: #007bff !important;
  color: #fff !important;
}
.align-right {
  text-align: right;
}
.profilePic img{
  border-radius: 50%;
}
table th {
  cursor: pointer;
}
table th:hover {
  background-color: #ccc;
}
